 REGEX ASSIGNMENT

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [1]:
#1] Answer
import regex as re 
Sample_Text='Python Exercises, PHP exercises.'
Expected_Output=re.sub(r"\s|,|.$",":",Sample_Text)
print(Expected_Output)

Python:Exercises::PHP:exercises:


Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output- 0 hello world 1 test 2 four five six

In [2]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[\W\d]|[XXXXX]', ' ', x))
df

                  SUMMARY
0           hello  world
1                    test
2     four  five   six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [3]:
import re
string1="This famous temple is dedicated to Lord Shiva"
pattern=r'\w{4,}'
apply=re.compile(pattern)
out=apply.findall(string1)
print(out)

['This', 'famous', 'temple', 'dedicated', 'Lord', 'Shiva']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory

In [4]:
string2="When a large patch of land is used for cultivation then we call it as  extensive farming"
a=re.compile(r'\b\w{3,5}+\b')
output=a.findall(string2)
print(output)

['When', 'large', 'patch', 'land', 'used', 'for', 'then', 'call']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory. 

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"] 

Expected Output: example.com hr@fliprobo.com github.com Hello Data Science World Data Scientist

In [5]:
S=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
a=re.compile(r"[()]+|,")

for i in S:
    x=a.sub("",i)
    print(x)
#without space
print("-"*30)
a=re.compile(r"[()\s]+|,")
for i in S:
    x=a.sub("",i)
    print(x)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist
------------------------------
example.com
hr@fliprobo.com
github.com
HelloDataScienceWorld
DataScientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression. 

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"] 

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"] 

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [6]:
S=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
output=[]
a=re.compile(r"[\s()]+|,")

for i in S:
    x=a.sub("",i)
    output.append(x)
    
print(output)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloDataScienceWorld', 'DataScientist']

Question 7- Write a regular expression in Python to split a string into uppercase letters. 

Sample text: “ImportanceOfRegularExpressionsInPython” 

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [7]:
Sample_text="ImportanceOfRegularExpressionsInPython"
pat=r"[A-Z][^A-Z]*"
ree=re.compile(pat)
r=ree.findall(Sample_text)
print(r)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers. 

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" 

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [8]:
def ins_space(str):
  pattern = r'(\d+)([A-Za-z]+)'
  expected= re.sub(pattern, r' \1\2',str)
  return expected
print(ins_space("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [9]:
def ins_space(str):
  pattern = r'(\d+)([A-Za-z]+)'
  expected= re.sub(pattern, r' \1 \2',str)
  return expected
print(ins_space("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. 
After creating the dataframe extract the first 6 letters of each country and
store in the dataframe under a new column called first_five_letters. 
Github Link- https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [10]:
df=pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df
pattern=r'(\w{6})'
df['first_five_letters']=df['Country'].str.extract(pattern,expand=False)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [11]:
def prog_upper(str):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,str):
            a=re.search(patterns,str)
            return a
        else:
                return('the given is not matched to the given condition' )

print(prog_upper("Rollnum_1"))
print(prog_upper("Once upon a time"))

<re.Match object; span=(0, 9), match='Rollnum_1'>
the given is not matched to the given condition

Question 12- Write a Python program where a string will start with a specific number.

In [12]:
def specific_num(str):
    num= re.compile(r"^9")
    if num.match(str):
        return True
    else:
        return False
print(specific_num('3 seats'))
print(specific_num('9 seats'))

False
True

Question 13- Write a Python program to remove leading zeros from an IP address

In [13]:
ip = "116.073.43.0140"
exp_ip= re.sub('\.[0]*', '.', ip)
print("IP address without leading zeros",exp_ip)

IP address without leading zeros 116.73.43.140

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file. 

Sample text : ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’. 
    
Expected Output- August 15th 1947 Note- Store given sample text in the text file and then extract the date string asked format.

In [14]:
giv_str= "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

exp_date= re.findall(pattern,giv_str)

print(exp_date)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string.  
Sample text : 'The quick brown fox jumps over the lazy dog.' Searched words : 'fox', 'dog', 'horse'

In [15]:
pattern = ['fox', 'dog', 'horse']
giv_sample= 'The quick brown fox jumps over the lazy dog.'
for word in pattern:
    print(word,"-",giv_sample)
    if re.search(word,giv_sample):
        print("Search word are Present in given string")
    else:
        print("Search word are not Present")

fox - The quick brown fox jumps over the lazy dog.
Search word are Present in given string
dog - The quick brown fox jumps over the lazy dog.
Search word are Present in given string
horse - The quick brown fox jumps over the lazy dog.
Search word are not Present

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs 
Sample text : 'The quick brown fox jumps over the lazy dog.' Searched words : 'fox

In [16]:
pattern = 'fox'
giv_sample = 'The quick brown fox jumps over the lazy dog.'
result= re.search(pattern,giv_sample)
startingindex = result.start()
endingindex = result.end()
print(result.re.pattern," -",result.string, "\nstarting index location :",startingindex,"\nEnding Index Location:",endingindex)

fox  - The quick brown fox jumps over the lazy dog.
starting index location : 16
Ending Index Location: 19

Question 17- Write a Python program to find the substrings within a string. 

Sample text : 'Python exercises, PHP exercises, C# exercises' 

Pattern : 'exercises'.

In [17]:
sample= 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for substring in re.findall(pattern,sample):
    print(substring,"-",sample)

exercises - Python exercises, PHP exercises, C# exercises
exercises - Python exercises, PHP exercises, C# exercises
exercises - Python exercises, PHP exercises, C# exercises

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [18]:
string1 = "On March 3, 2024, gold prices across India remained largely constant. The base price for 10 grams stood at Rs 64,090."
pattern = 'gold'
for string in re.finditer(pattern,string1):
    start= string.start()
    end= string.end()
    print('Found the given pattern - ' ,(string1[start:end]),"\nStarting index number -",start,"\nEnding index number-",end)

Found the given pattern -  gold
Starting index number - 18
Ending index number- 22

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [19]:
def date_format(date):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1',date)
date1 = "2024-03-03"
print("Original date in YYY-MM-DD Format: ",date1)
print("New date in DD-MM-YYYY Format: ",date_format(date1))

Original date in YYY-MM-DD Format:  2024-03-03
New date in DD-MM-YYYY Format:  03-03-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory. 

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25" 
    
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [20]:
def decimal_numbers(Res):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = pattern.findall(Res)
    return matches
sample_1 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result =decimal_numbers(sample_1)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [21]:
Sample_ = "According to the All India Gem and Jewellery Domestic Council (GJC), they have recently stated that prevailing global economic uncertainties and geopolitical tensions are expected to propel gold prices to a historic high of Rs 70,000 per 10 grams in the upcoming year.."

for num in re.finditer("\d+", Sample_):
    print(num.group(0))
    print("Starting index position:", num.start())
    print("Ending index position",num.end())

70
Starting index position: 227
Ending index position 229
000
Starting index position: 230
Ending index position 233
10
Starting index position: 238
Ending index position 240

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string. 

Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [22]:
Sample= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numeric = re.findall(r'\d+',Sample)
numeric = [int(val) for val in numeric]
print(numeric)
maximum_value = max(numeric)
print(f"The maximum numeric value in the Sample text is: {maximum_value}")

[947, 896, 926, 524, 734, 950, 642]
The maximum numeric value in the Sample text is: 950

Question 23- Create a function in python to insert spaces between words starting with capital letters. 

Sample Text: “RegularExpressionIsAnImportantTopicInPython" 

Expected Output: Regular Expression Is An Important Topic In Python

In [23]:
def insert_spaces(string):
  return re.sub(r"(\w)([A-Z])", r"\1 \2", string)

print(insert_spaces("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [24]:
def upper_lower(string):
        pattern= '[A-Z]+[a-z]+$'
        if re.findall(pattern,string):
            print(re.findall(pattern,string))
            return ('Found a sequence')
        else:
            return('Not a Match')
print(upper_lower("Expression"))

print(upper_lower("IMPORTANT"))

['Expression']
Found a sequence
Not a Match

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression. 

Sample Text: "Hello hello world world"
    
Expected Output: Hello hello world

In [25]:
def remove_duplicates(sentence):
  pattern = r'\b(\w+)(\s+\1\b)+'
  ans = re.sub(pattern, r'\1', string)
  return ans

string = "Hello hello world world"
result = remove_duplicates(string)
print(result)

Hello hello world

Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

In [26]:
pattern= '[a-zA-z0-9]$'

def end_string(string):
    if(re.search(pattern,string)):
      print(re.search(pattern,string))
      print("\nThe string is ending with alphanumeric character")
    else:
      print("\nThe string is not ending with alphanumeric character")
print(end_string("RegularExpression"))
print(end_string("REgularExpression "))

<re.Match object; span=(16, 17), match='n'>

The string is ending with alphanumeric character
None

The string is not ending with alphanumeric character
None

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""" 

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [27]:
def extract_hashtag(string):
  pattern= re.findall(r'#\w+',string)
  return pattern
Sample_Text= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
output= extract_hashtag(Sample_Text)
print(output)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

    Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [28]:
Sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output= re.sub(pattern, "",Sample_text)

print(output)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders


Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [29]:
with open(r"C:\Users\sesur\OneDrive\sampletextfile.txt", 'r') as file:
  sample= file.read()
pattern = r'\d{2}-\d{2}-\d{4}'
output= re.findall(pattern,sample)
for date in output:
  print(date)

12-09-1992
15-12-1999

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [31]:
def removeallword(string):
  pattern = re.compile(r'\b\w{2,4}\b')
  string1= re.sub(pattern, '', string)
  return string1
sampleText = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = removeallword(sampleText)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.